:root {
  --color: #dcb288;
}

.footer {
  width: 100vw;
  height: 11rem;
  padding: 1.5rem;
  /* background-color: #dcb288; */
  background-image: url("./assets/img/granoCafe.jpg");
  background-position: bottom;
  background-size: 20rem;
  bottom: 0;
  justify-content: space-between;
}

.divCointainer {
  display: flex;
  justify-content: space-between;
}

.social {
  display: flex;
  right: 50%;
  z-index: 800;
  align-items: center;

  gap: 1.5rem;
  justify-content: center;
  height: 3rem;
  align-items: flex-start;
}

body > div > main > div.social > a {
  display: flex;
  align-items: flex-start;
}

.social-icon {
  cursor: pointer;
  color: black;
}

.social-icon:hover {
  transform: scale(1.1);
  /*     color: var(--color-brand-primary);
*/
}

.textFooter {
  font-weight: bold;
}

.textRoutesFooter a {
  text-decoration: none;
  color: black;
}

.hero-section {
  padding-left: 120px;
  padding-right: 120px;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  background-image: url("https://images.pexels.com/photos/894695/pexels-photo-894695.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.content-wrapper {
  max-width: 800px;
  text-align: left;
}

h1 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 64px;
  margin-bottom: 32px;
  font-weight: 600;
}

h2 {
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 48px;
  margin-bottom: 32px;
  font-weight: 600;
}

h4 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 32px;
  font-weight: 600;
}

.hero-subheading {
  max-width: 700px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 32px;
}

.main-section {
  background-color: rgb(203, 203, 143);
  display: flex;
  flex-direction: column;
  justify-content: start;
  min-height: 100vh;
  width: 100%;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 140px;
}

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 600px;
  background-image: url("https://images.pexels.com/photos/302899/pexels-photo-302899.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.main-navbar {
  height: 126px;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  padding: 20px;
  z-index: 1; /* Ensure navbar is above hero image */
}

<<<<<<< HEAD
.img-checkout {
  height: 85px;
  width: 20px;
  background-image: url("https://uticacoffeeroasting.com/cdn/shop/products/Adirondack10oz_720x.png?v=1617817727");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
=======
/* product Detail */

.productDetailImage {
  background-image: url("./assets/img/BlendsArtOfDarkness.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
>>>>>>> b89782762fbb62afb9af3fd894593eb1a3c0b6ef
}
