@font-face {
  font-family: myFont;
  src: url("C:\Users\SANTIAGO\AppData\Local\Microsoft\Windows\Fonts\PlayfairDisplay-Regular.ttf")
    format("truetype");
}

:root {
  --color: #dcb288;
}
.bold {
  font-weight: 700;
}

footer {
  background-color: black;
  padding-top: 2rem;
}

/* DASHBOARD ADMIN*/

.mainAdmin {
  display: flex;
  height: 100vh;
}

.firstSectionDashboard {
  display: flex;
  flex-direction: column;
  background-color: rgba(54, 41, 41, 0.863);
  width: 20vw;
  height: 100vh;
}
.imgLogoUticaDashboard {
  width: 8rem;
  height: 8rem;
}

.navbar {
  display: flex;
  flex-direction: column;
}

.firstSectionDashboard a {
  color: white;
  padding: 10px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #555;
}

.imgDashboard {
  display: flex;
  justify-content: center;
  background-color: rgb(54, 41, 41);
}

.secondSectionDashboard {
  width: 80vw;
  overflow: hidden;
}

.administrationPanel {
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  border-bottom: 1px solid rgb(54, 41, 41);
  font-size: 1.2rem;
}

.administrationPanelMain {
  padding: 2rem;
  overflow: scroll;
  height: 100%;
}
.profileImg {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  overflow: hidden;
}

.profileImg > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardContainer {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}
.dashboardCard {
  width: 30%;
  min-width: 300px;
  border-radius: 10px;
  border: 1px solid black;
  overflow: hidden;
}
.dashboardCard > p {
  background-color: rgba(128, 128, 128, 0.329);
  padding: 1rem 2rem;
  margin-bottom: 0;
  color: blue;
  font-weight: 500;
}

.cardDetails {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cardDetails > p {
  margin: 0;
}
.numberDashboard {
  font-size: 1.4rem;
  font-weight: bold;
}
.numberDashboard > span {
  color: green;
  font-size: 1rem;
  margin: 0;
}
.dashboardCard > div {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  height: 8rem;
}
.dashboardIconContainer {
  height: 100%;
  aspect-ratio: 1/1;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  border-radius: 10px;
}
.dashboardIcon {
  width: 100%;
}

.lastOrders {
  margin-top: 2rem;
}
.dashboardTable {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid grey;
}

.tableHeader {
  display: flex;
  align-items: center;
  align-items: center;
  border-bottom: 1px solid grey;
}

.tableHeader > p {
  width: 30%;
  margin: 0;
  padding: 0.5rem 1rem;

  height: 100%;
}

.tableHeader > a {
  margin-left: 1rem;
  color: blue !important;
}

/* /////// navigation in home ////// */
.navigation-menu {
  color: #f0f2dc;
  position: fixed;
  z-index: 1000;
}

.top-btn-position {
  position: fixed;
  bottom: 15px;
  right: 20px;
}
.top-btn-style {
  height: 40px;
  width: 40px;
  border: 2px solid rgb(160, 160, 155);
  color: rgb(13, 14, 13);
  cursor: pointer;
}

.nav-link-home {
  text-decoration: none;
  display: inline;
  padding: 20px 20px;
  font-weight: 700;
  font-size: large;
  cursor: pointer;
}
/* /////// */

.hero-section {
  padding-left: 120px;
  padding-right: 120px;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  /* background-image: url("https://images.pexels.com/photos/894695/pexels-photo-894695.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; */
  z-index: 1;
}

.background-video {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.background-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: relative;
  z-index: 1;
}

.content-wrapper {
  max-width: 800px;
  text-align: left;
  z-index: 1;
}
p {
  color: white;
}

h1 {
  color: white;
  font-family: myFont;
  font-size: 72px;
  margin-bottom: 32px;
  font-weight: 600;
}

h2 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: myFont;
  font-size: 56px;
  margin-bottom: 32px;
  font-weight: 600;
}

h3 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 32px;
  font-weight: 600;
}

h4 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 32px;
  font-weight: 600;
}

h5 {
  color: white;
  font-family: myFont;
  font-size: 24px;
}

.hero-subheading {
  max-width: 600px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 32px;
}

.align-navigation-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-section {
  background-color: #3b3028;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  min-height: 100vh;
  width: 100%;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 150px;
  padding-bottom: 32px;
}
.category-card {
  position: relative;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.category-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease;
  z-index: 1;
}

.category-card:hover::before {
  background-color: rgba(0, 0, 0, 0);
}

.category-title {
  position: relative;
  z-index: 2;
  /*font-size: 24px;*/
  color: white;
}

.category-flavored {
  background-image: url("/src/assets/img/category-img/Cat%201.png"); /* Background image for Flavored category */
}

.category-blends {
  background-image: url("/src/assets/img/category-img/Cat%202.png"); /* Background image for Blends category */
}

.category-single-origin {
  background-image: url("/src/assets/img/category-img/Cat%203.png"); /* Background image for Single Origin category */
}

/* Special Products Home   */

.special-product-card {
  background-color: rgba(255, 255, 255, 0.199);
  border-radius: 10px;
  padding: 16px;
  text-align: center;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
}

.product-image {
  width: 100%;
  border-radius: 8px;
}

.btn-view-product {
  background-color: #ee7828;
  color: white;
  padding: 10px 20px;
  margin-right: 16px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-view-product:hover {
  background-color: #d96c21; /* Darker shade on hover */
}

.special-product-1 {
  background-image: url("/src/assets/img/Blends-ArtOfDarkness.png");
  background-size: contain;
  background-position: center;
  border-radius: 8px;
  height: 300px;
  background-repeat: no-repeat;
}
.special-product-2 {
  background-image: url("/src/assets/img/Flavored-ChocolateAmaretto.png");
  background-size: contain;
  background-position: center;
  border-radius: 8px;
  height: 300px;
  background-repeat: no-repeat;
}

.special-product-3 {
  background-image: url("/src/assets/img/SingleOrigin-Colombia.png");
  background-size: contain;
  background-position: center;
  border-radius: 8px;
  height: 300px;
  background-repeat: no-repeat;
}

.special-product-4 {
  background-image: url("/src/assets/img/Blends-ItalianRoast.png");
  background-size: contain;
  background-position: center;
  border-radius: 8px;
  height: 300px;
  background-repeat: no-repeat;
}
/* Blog section/newsletter */

.background-newsletter {
  background-image: url("/src/assets/img/background-home.jpg");
  background-size: cover;
  background-position: center;
}

.btn-subscribe {
  background-color: #ee7828;
}

.btn-subscribe:hover {
  background-color: #d96c21; /* Lighter shade for hover effect */
}
.input-group {
  width: 100%;
}

.subscribe-input {
  width: 100%;
  padding: 15px;
  font-size: 16px;
}

/* navbar */
.main-navbar {
  height: 126px;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* padding: 20px; */
  z-index: 10; /* Ensure navbar is above hero image */
}
.navLink {
  font-size: 1.2rem;
}

.UticaBrandLogo {
  height: 126;
  width: 126px;
}
.nav-link {
  color: #fff;
}
.nav-link:hover {
  background-color: #343a40;
  color: #f0f2dc;
  padding-left: 1.5rem;
}

.dropdown-item:hover {
  background-color: #343a40;
  color: #f0f2dc;
  padding-left: 2rem;
}
/* end navbar */

.img-checkout {
  height: 85px;
  width: 20px;
  background-image: url("https://uticacoffeeroasting.com/cdn/shop/products/Adirondack10oz_720x.png?v=1617817727");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.btn-checkout {
  background-color: black;
  color: white;
  border-radius: 50px;
  padding: 10px 20px;
  border: none;
  transition: background-color 0.3s ease;
}
.btn-checkout:hover {
  background-color: #333;
}
/* product Detail */

.oneProductImg {
  height: 420;
  width: 300;
}

/* About this Project */

.hero-about {
  padding-left: 120px;
  padding-right: 120px;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  background-image: url("./assets/img/aboutThisProjectImg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.btn-hero {
  background-color: #ee7828;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-hero:hover {
  background-color: #d96c21;
}

.about-heading {
  text-align: start;
  color: rgb(255, 255, 255);
  font-family: myFont;
  font-size: 64px;
  margin-bottom: 32px;
  font-weight: 600;
}

.about-info {
  max-width: 700px;
  margin-bottom: 32px;
}

.about-subheading {
  max-width: 620px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  margin-bottom: 32px;
}

.icon-tech {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  opacity: 0.7;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.about-icons {
  width: 50px;
  height: 50px;
}
