@font-face {
  font-family: myFont;
  src: url("C:\Users\SANTIAGO\AppData\Local\Microsoft\Windows\Fonts\PlayfairDisplay-Regular.ttf")
    format("truetype");
}

:root {
  --color: #dcb288;
}
.bold {
  font-weight: 700;
}

footer {
  background-color: #121212;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.logo-footer {
  height: 150px;
  width: auto;
  background-image: url("./assets/img/logo-utica-white.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.footer-icon {
  transition: transform 0.3s ease; /* Adding transition effect */
}

.footer-icon:hover {
  transform: scale(
    1.4
  ); /* Scale the icon to 1.1 times its original size on hover */
}

/* /////// navigation in home ////// */
.navigation-menu {
  color: #ee7828;
  position: fixed;
  z-index: 1000;
  top: 30%; /* Keep it at the top of the screen */
  right: 30px; /* Position it to the right side of the screen */
}

.nav-link-home {
  text-decoration: none;
  display: block;
  padding: 20px 20px;
  font-weight: 700;
  font-size: large;
  cursor: pointer;
}
.top-btn-position {
  position: fixed;
  bottom: 15px;
  right: 20px;
}
.top-btn-style {
  margin: 13px;
  height: 40px;
  width: 40px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #ee77281d;
  border-radius: 100px;
  color: #ee7828;
  cursor: pointer;
}

/* /////// */

.hero-section {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  /* background-image: url("https://images.pexels.com/photos/894695/pexels-photo-894695.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; */
  z-index: 1;
}

.background-video {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin-top: 32px;
}

.background-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: relative;
  z-index: 1;
}

.content-wrapper {
  max-width: 800px;
  text-align: left;
  z-index: 1;
}

p {
  color: white;
}

h1 {
  color: white;
  font-family: myFont;
  font-size: 72px;
  margin-bottom: 32px;
  font-weight: 600;
}

h2 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: myFont;
  font-size: 56px;
  margin-bottom: 64px;
  font-weight: 600;
}

h3 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 32px;
  font-weight: 600;
}

h4 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 32px;
  font-weight: 600;
}

h5 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  margin-bottom: 8px;
}

.hero-subheading {
  max-width: 600px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 32px;
}

.align-navigation-menu {
  background-image: url("./assets/img/Fondo3.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -160px;
  overflow: hidden;
}

.main-section-everything-starts-with-coffee {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  min-height: 100vh;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 32px;
}
.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  min-height: 100vh;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 150px;
  padding-bottom: 32px;
}

.about-info {
  max-width: 700px;
  margin-bottom: 32px;
}

.imgCardAbout {
  display: flex;
  justify-content: center;
}

.card-body img {
  width: 2.5rem;
}

.spanAbout {
  opacity: 0.5;
}

.merAbout {
  display: flex;
  justify-content: center;
}
.merAbout img {
  padding-top: 70px;
  width: 65rem;
}

.cardAbout {
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #ee77281d;
  border-radius: 10px;
  text-align: center;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.bg-fondo3 {
  background-image: url("./assets/img/Fondo3.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.category-card {
  position: relative;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.category-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease;
  z-index: 1;
}

.category-card:hover::before {
  background-color: rgba(0, 0, 0, 0);
}

.category-title {
  position: relative;
  z-index: 2;
  /*font-size: 24px;*/
  color: white;
}

.category-flavored {
  background-image: url("/src/assets/img/category1.png"); /* Background image for Flavored category */
  background-size: cover;
  background-repeat: no-repeat;
}

.category-blends {
  background-image: url("/src/assets/img/category2.png"); /* Background image for Blends category */
  background-size: cover;
  background-repeat: no-repeat;
}

.category-single-origin {
  background-image: url("/src/assets/img/category3.png"); /* Background image for Single Origin category */
  background-size: cover;
  background-repeat: no-repeat;
}

.splash {
  height: 0px;
  width: 100vw;
}
.img-splash {
  height: 550px;
  margin-top: -500px;
  margin-left: 1400px;
  opacity: 60%;
}

.splash-beans {
  height: 0px;
  width: auto;
  transform: scaleX(-1);
}
.img-splash-beans {
  height: 600px;
  margin-top: -300px;
  margin-left: 1000px;
  opacity: 60%;
}

/* About section */

.about-icon {
  background-size: contain;
  background-position: center center;
  border-radius: 50%;
  height: auto;
  width: 65%;
  margin-bottom: 16px;
}

.img-sack {
  height: 1100px;
  width: 1200px;
  opacity: 0.7;
  margin-left: -500px;
}

/* Media Query for smaller screen sizes */
@media (max-width: 940px) {
  .make-responsive {
    margin-top: 100px;
  }
  .img-sack {
    display: none; /* Hide the image on smaller screen sizes */
  }
}
#about {
  margin-top: -100px;
  height: 50%;
  width: 100%;
}

.make-responsive {
  margin-left: -50px;
}

/* Special Products Home   */

.special-product-card {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #ee77281d;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
  margin-top: 80px;
}

.product-image {
  width: 100%;
  border-radius: 8px;
}

.btn-view-product {
  background-color: transparent;
  color: #ee7828;
  border: 1px solid #ee77281d;
  padding: 8px 30px;
  font-size: 16px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-view-product:hover {
  background-color: #ee7828;
  color: white;
}

.secondary-button {
  display: inline-block;
  background-color: transparent;
  color: #ee7828;
  border: 1px solid #ee77281d;
  border-radius: 50%;
  padding: 12px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; /* Add transition for color change */
}

.secondary-button:hover {
  background-color: #ee7828; /* Change background color to orange on hover */
  color: white; /* Change text color to white on hover */
}

.special-product-1 {
  background-image: url("/src/assets/img/Blends-ArtOfDarkness.png");
  background-size: contain;
  background-position: center;
  border-radius: 8px;
  height: 300px;
  width: auto;
  background-repeat: no-repeat;
  margin-top: -80px;
}

.card-img {
  border: none !important;
  border-radius: 8px;
  width: auto;
  margin-top: -80px;
}

@media screen and (max-width: 1000px) {
  .card-img {
    border: none !important;
    border-radius: 8px;
    height: 300px;
    width: auto;
    margin-top: -80px;
  }
}

.special-product-2 {
  background-image: url("/src/assets/img/Flavored-ChocolateAmaretto.png");
  background-size: contain;
  background-position: center;
  border-radius: 8px;
  height: 300px;
  background-repeat: no-repeat;
  margin-top: -80px;
}

.special-product-3 {
  background-image: url("/src/assets/img/SingleOrigin-Colombia.png");
  background-size: contain;
  background-position: center;
  border-radius: 8px;
  height: 300px;
  background-repeat: no-repeat;
  margin-top: -80px;
}

.special-product-4 {
  background-image: url("/src/assets/img/Blends-ItalianRoast.png");
  background-size: contain;
  background-position: center;
  border-radius: 8px;
  height: 300px;
  background-repeat: no-repeat;
  margin-top: -80px;
}
/* Blog section/newsletter */

.background-newsletter {
  background-image: url("/src/assets/img/premium6.png");
  background-size: cover;
  background-position: center;
  opacity: 80%;
}

.btn-subscribe {
  background-color: #ee7828;
}

.btn-subscribe:hover {
  background-color: #d96c21; /* Lighter shade for hover effect */
}
.input-group {
  width: 100%;
}

.subscribe-input {
  width: 100%;
  padding: 15px;
  font-size: 16px;
}

/* navbar */

/* background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #ee77281d;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
  margin-top: 80px; */

.main-navbar {
  height: 126px;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #121212;
  border-bottom: 1px solid #ee77281d;
  /* backdrop-filter: blur(10px); */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}
.bg-dark-grey {
  background-color: #121212;
}

.brand-logo-no-hover:hover {
  background-color: transparent !important;
}

.navLink {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: white;
  padding-left: 10px;
}
/* .navbar-toggler-icon {
  color: white;
} */

.navDropdown:hover {
  color: #d96c21 !important;
}

.navLink:hover {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: #d96c21 !important;
}

.brand-logo {
  height: 100px;
  width: 100px;
}

.brand-logo:hover {
  background-color: transparent !important;
}

.nav-link {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  margin-left: 16px;
}

.nav-link:hover {
  background-color: #343a40;
  color: #f0f2dc;
  background-color: transparent !important;
  padding-left: 1.5rem;
  color: #d96c21;
  padding-left: 20px;
}

.dropdown-item:hover {
  color: #d96c21;
  padding-left: 2rem;
}

.img-checkout {
  height: 85px;
  width: 20px;
  background-image: url("https://uticacoffeeroasting.com/cdn/shop/products/Adirondack10oz_720x.png?v=1617817727");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.btn-checkout {
  background-color: black;
  color: white;
  border-radius: 50px;
  padding: 10px 20px;
  border: none;
  transition: background-color 0.3s ease;
}
.btn-checkout:hover {
  background-color: #333;
}
/* product Detail */

.oneProductImg {
  height: 420;
  width: 300;
}

/* About this Project */
.text-orange {
  color: #ee7828;
}

.hero-about {
  padding-left: 120px;
  padding-right: 120px;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  background-image: url("./assets/img/aboutThisProjectImg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.btn-hero {
  background-color: #ee7828;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-hero:hover {
  background-color: #d96c21;
}

.btn-cart {
  background-color: #ee7828;
  color: white;
  border: none;
  width: 65px;
  height: 65px;
  /* padding: 7px 12px; */
  font-size: 20px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.height65 {
  height: 65px;
}

.btn-cart:hover {
  background-color: #d96c21;
}

.about-heading {
  text-align: start;
  color: rgb(255, 255, 255);
  font-family: myFont;
  font-size: 64px;
  margin-bottom: 32px;
  font-weight: 600;
}

.about-subheading {
  max-width: 620px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  margin-bottom: 32px;
}

.icon-tech {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  opacity: 0.7;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.about-icons {
  width: 50px;
  height: 50px;
  opacity: 0.4;
}

.hoverSocial {
  color: white;
}

.hoverSocial:hover {
  color: #d96c21;
}

/*--------*/

/* TABLA DASHBOARD PRODUCT*/

.dashboardTable {
  border: 1px solid rgba(0, 0, 0, 0.301);
  border-radius: 10px;
  width: 100%;
}

.dashboardTable th,
.dashboardTable td {
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.301);
}

.dashboardTable tr:hover {
  background-color: rgba(73, 65, 65, 0.062);
}

.navbar > a > img {
  width: 1.6rem;
}

.returnToWebsite > a > img {
  width: 1.6rem;
}

.navbar > a {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 20vw;
}

.bodyTableProducts > tr > td > a {
  text-decoration: none;
  text-align: right;
}

.tableHeadProduct {
  background-color: rgba(128, 128, 128, 0.096);
}

/* PANEL ADMIN*/

.mainAdmin {
  display: flex;
  height: 100vh;
}

.mainAdmin p {
  color: black;
}

.firstSectionDashboard {
  display: flex;
  flex-direction: column;
  background-color: rgba(54, 41, 41, 0.863);
  width: 20vw;
  height: 100vh;
}

.titlePanel {
  font-size: 1.5rem;
}

.imgLogoUticaDashboard {
  width: 6.8rem;
  height: 6.8rem;
}

.navbar {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
}

.firstSectionDashboard a {
  color: white;
  padding: 10px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #555;
}

.imgDashboard {
  display: flex;
  justify-content: center;
  background-color: rgb(54, 41, 41);
  height: 13vh;
}

.secondSectionDashboard {
  width: 80vw;
  overflow: hidden;
}

.infoDashboard {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80vw;
  height: 87vh;
}

.infoDashboard p {
  color: black;
}
.infoDashboard h5 {
  color: black;
  font-family: var(--bs-body-font-family);
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.administrationPanel {
  height: 13vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;

  font-size: 1.2rem;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.164); /* Sombra */
}

.administrationPanelMain {
  padding: 2rem;
  overflow: scroll;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.062);
}

.administrationPanelMainDashboard {
  background-color: rgba(128, 128, 128, 0.062);
  padding: 2rem;
  height: 100%;
}

.tableHeadDashboard {
  background-color: rgba(128, 128, 128, 0.096);
}

.profileImg {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  overflow: hidden;
}

.profileImg > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardContainer {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}
.dashboardCard {
  width: 30%;
  min-width: 300px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.281);
  overflow: hidden;
}
.dashboardCard > a {
  text-decoration: none;
  display: block;
  background-color: rgba(128, 128, 128, 0.329);
  padding: 1rem 2rem;
  margin-bottom: 0;
  color: blue;
  font-weight: 500;
}

.cardDetails {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cardDetails > p {
  margin: 0;
}
.numberDashboard {
  font-size: 1.4rem;
  font-weight: bold;
}
.numberDashboard > span {
  color: green;
  font-size: 1rem;
  margin: 0;
}
.dashboardCard > div {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  height: 8rem;
}
.dashboardIconContainer {
  height: 100%;
  aspect-ratio: 1/1;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  border-radius: 10px;
}
.dashboardIcon {
  width: 100%;
}

.lastOrders {
  margin-top: 2rem;
}

.tableHeader {
  display: flex;
  align-items: center;
  align-items: center;
  border-bottom: 1px solid grey;
}

.tableHeader > p {
  width: 30%;
  margin: 0;
  padding: 0.5rem 1rem;
  height: 100%;
}

.tableHeader > a {
  text-decoration: none;
  margin-left: 1rem;
  color: blue !important;
}

.administrationPanel > img {
  width: 3rem;
  display: none;
}

.close {
  display: none;
}

/* -- -- --*/

/* MOBILE VERSION */

@media screen and (max-width: 500px) {
  .firstSectionDashboard {
    display: none;
  }
  .secondSectionDashboard {
    width: 100vw;
  }
  .infoDashboard {
    width: 100vw;
  }

  .administrationPanel > img {
    display: block;
  }

  .mobileNav {
    background-color: black;
    width: 80vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(54, 41, 41);
    height: 100vh;
    z-index: 1000;
    position: relative;
  }

  .mobileNav a {
    color: white;
    padding: 10px 16px;
    text-decoration: none;
  }

  .close {
    position: absolute;
    top: 0;
    display: block;
    left: 80vw;
    width: 3rem;
  }

  /* ABOUT THIS PROJECT*/

  .textAboutProject p {
    font-size: 14px;
  }
  .textAboutProject h2 {
    font-size: 45px;
  }

  .hero-about {
    padding-right: 95px;
    padding-left: 95px;
  }
}

/* Checkout Section */
.checkout-products {
  background-color: rgb(238, 236, 236);
  border: 1px solid #ee77281d;
  border-radius: 10px;
  padding: 16px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
}

/* background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #ee77281d;
  */

.checkout-card {
  background-color: whitesmoke;
  border: 1px solid #ee77281d;
  border-radius: 10px;
  padding: 16px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
}
